[defaults]
inventory = ansible/inventory/hosts.yml
roles_path = ansible/roles
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = True
stdout_callback = default

[ssh_connection]
pipelining = True
