release_id: {{ deepseek_release_id }}
system: {{ deepseek_system.name }}
engine: {{ deepseek_system.engine }}
runtime:
  repository: {{ deepseek_runtime.repository }}
  source_commit: {{ deepseek_runtime.source_commit }}
{% if deepseek_system.engine == 'vulkan' %}
  release_tag: {{ deepseek_runtime.release_tag }}
  archive_sha256: {{ deepseek_runtime.archive_sha256 }}
  overlay_sha256: {{ deepseek_runtime.overlay_sha256 }}
  patch_sha256: {{ deepseek_runtime.patch.sha256 }}
  vulkan_backend_sha256: {{ deepseek_runtime.vulkan_backend_sha256 }}
  launcher_sha256: {{ deepseek_runtime.launcher_sha256 }}
{% else %}
  source_diff_sha256: {{ deepseek_runtime.source_diff_sha256 }}
{% endif %}
  server_sha256: {{ deepseek_runtime.server_sha256 }}
target:
  repository: {{ deepseek_target.repository }}
  revision: {{ deepseek_target.revision }}
  quantization: {{ deepseek_target.quantization }}
  files:
{% for file in deepseek_target.files %}
    - name: {{ file.name }}
      size: {{ file.size }}
      sha256: {{ file.sha256 }}
{% endfor %}
draft:
  repository: {{ deepseek_draft.repository }}
  revision: {{ deepseek_draft.revision }}
  name: {{ deepseek_draft.name }}
  size: {{ deepseek_draft.size }}
  sha256: {{ deepseek_draft.sha256 }}
